{% extends "layouts/base.html" %}

{% block title %} Charts {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div>
        <div id="chart" style="width: 600px; margin: 35px auto"></div>
        <div id="chart2" style="width: 600px; margin: 35px auto"></div>
    </div>
    <script>
        var options = {
            series: [27],
            chart: {
                height: 350,
                type: 'radialBar',
                offsetY: -10
            },
            plotOptions: {
                radialBar: {
                    startAngle: -135,
                    endAngle: 135,
                    dataLabels: {
                        name: {
                            fontSize: '16px',
                            color: undefined,
                            offsetY: 120
                        },
                        value: {
                            offsetY: 76,
                            fontSize: '22px',
                            color: undefined,
                            formatter: function (val) {
                                return val + "%";
                            }
                        }
                    }
                }
            },
            fill: {
                type: 'gradient',
                gradient: {
                    shade: 'dark',
                    shadeIntensity: 0.15,
                    inverseColors: false,
                    opacityFrom: 1,
                    opacityTo: 1,
                    stops: [0, 50, 65, 91]
                },
            },
            stroke: {
                dashArray: 4
            },
            labels: ['Median Ratio'],
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        var chart2 = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
        chart2.render();
    </script>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- chart-morris Js -->
<script src="{{ ASSETS_ROOT }}/plugins/chart-morris/js/raphael.min.js"></script>
<script src="{{ ASSETS_ROOT }}/plugins/chart-morris/js/morris.min.js"></script>
<script src="{{ ASSETS_ROOT }}/js/pages/chart-morris-custom.js"></script>

{% endblock javascripts %}